.padLeft0 {
    padding-left: 0 !important;
}
.adminCont h3 {
    margin-top: 0;  
    margin-bottom: 0;
}
.margauto {
    margin: 0 auto;
    float: none;
}
.adminCont {
    overflow: hidden;
    padding: 30px 0 50px 0;
}
.editUserBox div.checkbox {
    margin-top: -12px;
}
.editUserBox input[type="checkbox"] {
    margin-left: 0 !important;
}
.usersTbl td {
    word-break: break-word;
}
.titleBox {
    overflow: hidden;
}
.titleBox p {
    margin: 0;
    color: #7a7679;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
}
.adminCont hr {
    margin-top: 10px;
}

.notifWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.8;
    z-index: 10002;
    cursor: pointer;
}
.notifMain {
    cursor: pointer;
    position: fixed;    
    z-index: 10003;
    top: 40%;
    left:35%;
    background: #fff;
    /*padding: 15px;*/
    width: 30%;
    min-width: 320px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}
.notifMain p {
    cursor: pointer;
    padding: 20px;
    background-color: #fff;
    color: #f7931e;
    font-size: 16px;
}
.notifTitle {
    font-size: 20px;
    cursor: pointer;
    z-index: 10003;
    padding: 20px;
    margin-top: 0px!important;
    background: #f7931e;
    box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.1);
    color: #fff;
}
/* matgnific popyp styles */
.mfp-bg {
    opacity: 0.4!important;
}
.mgnPopup {
    width: 90%;
    margin-left: 5%;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    border-top: solid 6px #000;
}
.mgnPopup.smallPopup {
    width: 380px;
    margin: 0 auto;
}
.smallPopup {
    width: 350px;
    margin: 0 auto;
}
.popupTitle {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #000;
}
.cmakerAdd {
	width: 100%;
	height: 100%;
}

.customScroll {
    max-height: 500px;
    padding: 4px 6px;
}

/* mCustomScroll */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #989898;
    width: 8px;
    right: 1px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.15);
}
.mCSB_scrollTools {
    width: 6px;
    right: 5px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 10px;
}
.mCSB_outside + .mCSB_scrollTools {
    /*right: -12px;   */
    right: 4px;
    margin: 8px 0;
}
/* end mCustomScroll */
.select {
    width: 200px!important;
    margin-top: 20px;
    margin-bottom: 20px;
}