.cityBox {
	border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 500px;
    background-color: #39629E;
    background-repeat: no-repeat;
    background-position: center 20px;
    background-image: url('../images/city-background.png');    
    background-size: 80%;
}
.answerBox {	
	width: 450px;
	margin: 20px auto;
	background-color: #fff;
	border-radius: 20px;
}
.firstLetter {
	background-color: #fff;
	display: inline-block;
	border:none;
	outline:0;
	font-size:32px;	
	width: 50px;
	text-align: right;
	height: 50px;
	border-radius: 20px;
}
.answer {
	display: inline-block;
	border:none;
	outline:0;
	font-size:32px;	
	width: 250px;
	height: 50px;
}
.doSearch {
	padding-top: 10px;
	display: inline-block;
	border:none;
	outline:0;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../images/search-icon.png');
	background-size: 90%;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.citiesList {
	max-height: 350px;
}
.resetButton {
	padding-top: 10px;
	display: inline-block;
	border:none;
	outline:0;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../images/undo_blue.png');
	background-size: 100%;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.singleCity {
	margin-left: 5px;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	margin-top: 20px;
	font-size: 20px;
	background: #fff;
	border:2px solid #222;
	color: #222;
	text-align: center;
}
.boxComments {
	border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 600px;
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}	
.boxComments .commentsCount {
	color: #F7931E;
	font-size: 26px;
	font-weight: bold;
}
.boxComments #commentsCount {
	font-family: TopModern;
}
.crossComments {
	width: 500px;
	max-height: 200px;
	margin: 0 auto;
	padding: 10px;
	padding-right: 20px;
}
.crossComments .commentRow {
	display: block;
	margin-top: 20px;
	max-height: 100px;
}
.commentContainer {
	height: 100%;
}
.commentContainer .commentText {
	border-radius: 10px;
	display: block;
	font-size: 15px;
	color: #222;
	padding: 10px 5px 5px 10px;
	background-color: #F5F5F5;
}
.commentDate {
	text-align: right;
	font-size: 13px;
	color: #dbdbdb;
}
.deleteButton {
	display: inline;
	color: #FF1919;
	cursor: pointer;
	font-size: 20px;
	outline: 0;
	background: none;
	border: none;	
	font-family: TopModern;
}
.deleteButton:hover {
	font-weight: bold;
}
.boxComments textarea {
	border-radius: 10px;
	border-color: #F7931E;
}
.commenter {
	color: #F7931E;
	cursor: pointer;
}