.crosswordInfo li {
	display: inline-block;
	margin-left: 20px;
}
.crosswordInfo li .crosswordName {
	color: #F7931E;
	text-shadow: 2px 2px 2px #f1e767;
	font-size: 18px;
	cursor: default;
}
.crosswordInfo li:nth-child(1) {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 15%;
}
.crosswordInfo li:nth-child(2) {
	width: 10%;
}
.crosswordInfo li:nth-child(3) {	
	width: 5%;
}
.crosswordInfo li:nth-child(3) img {
	top: 5px;
	position: relative;
}
.crosswordInfo li:nth-child(4) {
	position: relative;
	top: -5px;
	font-size: 16px;
	color: #fff;
	max-width: 15%;
	text-align: center;
	background-color: #222;
	border-radius: 15px;
	padding: 5px 5px 5px 5px;
	font-family: TopModern;
	display: none;
}
.crosswordInfo li:nth-child(5) {
	position: relative;
	top: -5px;
	width: 25%;	
	background-color: #f1e767;
	font-size: 16px;
	color: #fff;
	border-radius: 15px;
	padding: 5px 5px 5px 5px;
	font-family: TopModern;
	text-align: center;
}
.crosswordInfo li:nth-child(6) {
	top: -4px;
	position: relative;
	width: 15%;
	color: #dbdbdb;
	font-size: 14px;
}
.boxButtons {
	border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.crosswordPlayButton li {
	display: inline-block;
	margin-left: 10px;
}
.crosswordPlayButton li:nth-child(1) {
	margin-left: 100px;
}
.crosswordPlayButton li:nth-child(3) {
	margin-left: 50px;
}
.crosswordPlayButton .hand {
	background: url('/images/hand-icon.png');
	background-size: 100%;
	height: 35px;
	width: 35px;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.crosswordPlayButton li .limit {
	outline: 0;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    min-width: 20px;
    min-height: 20px;
    background-color: #222;
    color: #fff;
    font-family: TopModern;
    border-radius: 2px;
}
.crosswordPlayButton .handOn {
	
}
.crosswordPlayButton .handOff {
	opacity: 0.5;
}
.crosswordPlayButton .no-keyboard {
  display: none;
}
#save, #random {
	margin-top: -5px;
}
.boxComments {
	border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 600px;
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}	
.boxComments .commentsCount {
	color: #F7931E;
	font-size: 26px;
	font-weight: bold;
}
.boxComments #commentsCount {
	font-family: TopModern;
}
.crossComments {
	width: 500px;
	max-height: 200px;
	margin: 0 auto;
	padding: 10px;
	padding-right: 20px;
}
.crossComments .commentRow {
	display: block;
	margin-top: 20px;
	max-height: 100px;
}
.commentContainer {
	height: 100%;
}
.commentContainer .commentText {
	border-radius: 10px;
	display: block;
	font-size: 15px;
	color: #222;
	padding: 10px 5px 5px 10px;
	background-color: #F5F5F5;
}
.commentDate {
	text-align: right;
	font-size: 13px;
	color: #dbdbdb;
}
.deleteButton {
	display: inline;
	color: #FF1919;
	cursor: pointer;
	font-size: 20px;
	outline: 0;
	background: none;
	border: none;	
	font-family: TopModern;
}
.deleteButton:hover {
	font-weight: bold;
}
.boxComments textarea {
	border-radius: 10px;
	border-color: #F7931E;
}
.commenter {
	color: #F7931E;
	cursor: pointer;
}

.boxCrossword {
	text-align: center;
	/*border: solid 1px rgb(228, 228, 228);*/
    padding: 15px;
    /*background: white;*/
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}


.boxCrossword table {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	border-collapse: separate!important;
	border-spacing: 2px!important;
}

td {
    display: table-cell;
    text-align: center;
    border-radius: 2px;
    color:#fff;    
    border-collapse: collapse!important;
    outline:0; 
    height: 50px; 
    width: 50px; 
    margin: 0; 
    padding: 0; 
    font-weight: bold;
    vertical-align: middle;
    /*border-right: 2px solid black!important;*/
    /*border-bottom: 2px solid black!important;*/
}
tr {margin: 0; padding: 0;}
td.empty {
    border-color: #222;
    color:#222; 
    font-size: 110%; 
    cursor:pointer; 
    background-color: #fff; 
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -ms-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
}
td.empty:hover {background-color: #222;}
td.block {border-color: #fff; background-color: #222; background-position: center; opacity: 0.5;}
/*td.block {border:none;}*/
td.letter {border-color: #fff;}
td.true {border-color: #fff; color:#fff; font-size: 110%; background-color: #008500; line-height: 2em;}
td.question {font-family: TopModern; border-color: #fff; background-color: #EA6826; color:#fff; font-size: 110%; cursor: pointer; line-height: 2em;}
td.selected {border-color: #fff; background-color: #EA6826; color:#fff;}


.boxCrossword .bobble-bottom {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url(../images/info-bottom.png);
}

.boxCrossword .bobble-right {
	background-repeat: no-repeat;
	background-position: center right;
	background-image: url(../images/info-right.png);
}

.boxCrossword .questions {
	z-index: 100;
	cursor: pointer;
	text-align: center;
	opacity: 0.7;
	position: absolute;
	display: none;
	max-width: 200px;
	padding: 5px;
	background-color: #EA6826;
	color: #fff;
	font-size: 120%;
	transition:all 0.2s;
	-moz-transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-ms-transition:all 0.2s;
	-o-transition:all 0.2s;
}

.boxCrossword .questions:hover {
	opacity: 1;
}

.boxCrossword div.keyboard {
	width: 250px;
	height: 40px;
    left: -500px;
	position: absolute;
	opacity: 0.9;
	z-index: 50;
}
.boxCrossword div.letters {
	background-color: #fff;
	border: 2px solid #222;
	border-radius: 18px;
    line-height: 1.5em;
    padding: 10px 0 10px 10px;
}
.boxCrossword span.letter {
  	background-color: #fff;
	color: #222;
	padding-bottom: 15px;
  	padding-right: 15px;
  	padding-left: 5px;
  	padding-top: 5px;
	margin: 0px 0px;
	display: inline-block;
	height: 30px;
	width: 30px;
  	border: 1px solid #222;
  	border-radius: 10px;
  	text-align: center;
  	font-size: 24px;
	cursor: pointer;
  	line-height: 0.5em;
}
.boxCrossword span.letter:hover {
	color: #fff;
  	background-color: #F7931E;
  	border-color:#fff;
}

.boxCrossword div.min-keyboard {
    font-family: TopModern;
    line-height: 1em;
    float: left;
    margin-left: 140px;
    width: 30px;
    height: 30px;
    left:200px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    padding: 5px;
    border: 2px solid #222;
    border-radius: 18px;
    cursor: pointer;
    z-index: 900;
}
.boxCrossword .close-keyboard {
	font-family: TopModern;
	line-height: 1em;
	width: 30px;
	height: 30px;
	margin-left:180px;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	padding: 5px;
	border: 2px solid #222;
	border-radius: 18px;
	cursor: pointer;
	z-index: 900;
}
.boxCrossword .no-keyboard {
	display: none;
}
.questionsList {
	width: 800px;
	margin: 50px auto;
	padding: 50px;
	text-align: left;
	border: solid 1px rgb(228, 228, 228);	
	background-color: #fff;
}
.questionsListButton {
	display: block;
	cursor: pointer;
	font-size: 22px;
	color: #f1e767;
}
.questionsListButton:hover {
	color: #F7931E;	
}