li.discussions a {
	display: block;
	width: 500px;
	margin: 10px auto;
	text-align: center;
	font-size: 25px;
	color: #F7931E;
	border: 2px solid #F7931E;
	padding: 50px;
	transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
li.discussions a:hover {
	color: #fff;
	border: 2px solid #F7931E;
	background-color: #F7931E
}
.boxDiscussion {
	border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 80%;
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}	
.boxDiscussion .discussionCount {
	color: #F7931E;
	font-size: 26px;
	font-weight: bold;
}
.boxDiscussion #discussionCount {
	font-family: TopModern;
}
.crossDiscussion {
	width: 800px;
	max-height: 500px;
	margin: 0 auto;
	padding: 10px;
	padding-right: 20px;
}
.crossDiscussion .discussionRow {
	display: block;
	margin-top: 50px;
	max-height: 200px;
}
.discussionContainer {
	height: 100%;
}
.discussionContainer .discussionText {
	border-radius: 10px;
	display: block;
	font-size: 15px;
	color: #222;
	padding: 10px 5px 5px 10px;
	background-color: #F5F5F5;
}
.discussionDate {
	text-align: right;
	font-size: 13px;
	color: #dbdbdb;
}
.deleteButton {
	display: inline;
	color: #FF1919;
	cursor: pointer;
	font-size: 20px;
	outline: 0;
	background: none;
	border: none;	
	font-family: TopModern;
}
.deleteButton:hover {
	font-weight: bold;
}
.boxDiscussion textarea {
	border-radius: 10px;
	border-color: #F7931E;
}
.writer {
	color: #F7931E;
	cursor: pointer;
}