/* FONTS */
@font-face {
    font-family: 'TopModern';
    src: url('../fonts/TopModern.eot'),
        url('../fonts/TopModern.woff') format('woff'),
        url('../fonts/TopModern.ttf') format('truetype'),
        url('../fonts/TopModern.otf') format('opentype'),
        url('../fonts/TopModern.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**** reset css ****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, th,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*vertical-align: baseline;*/
}
tr, td {
    margin: 0;
    padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul, nav {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/**** end of reset css ****/


html, body {
    height: 100%;
}
body {    
    font-size: 15px;
    min-width: 1250px;
    width: 100%;
}
body * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
}


/* basic css */

.help-block-error {
    color: #d9534f;
    font-size: 13px;
}
.help-block-success {
    color: #5cb85c;
    font-size: 13px;
}
/* formRow */
.formRow, .formGroup {
    margin-bottom: 10px;
}
.formRow:last-of-type, .formGroup:last-of-type {
    margin-bottom: 0;
}
.formRow input[type="text"],
.formRow input[type="email"],
.formRow input[type="search"],
.formRow input[type="password"],
.formRow input[type="file"],
.formRow select {
    border: solid 1px rgb(194, 194, 194);
    width: 100%;
    height: 32px;
    /*border-radius: 4px;*/
    font-size: 14px;
    color: #222;
    padding: 0 7px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.formRow textarea {
    width: 100%;
    height: 100px;
    display: block;
    resize: vertical;
    border: solid 1px rgb(194, 194, 194);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px;
    /*border-radius: 4px;*/
    font-size: 14px;
    color: #222;
}
.formRow input[type="text"],
.formRow input[type="email"],
.formRow input[type="search"],
.formRow input[type="password"],
.formRow input[type="file"],
.formRow select,
.formRow textarea {
    -webkit-transition: .5s all;
    transition: .5s all;
}
.formRow input[type="text"]:focus,
.formRow input[type="email"]:focus,
.formRow input[type="search"]:focus,
.formRow input[type="password"]:focus,
.formRow input[type="file"]:focus,
.formRow select:focus,
.formRow textarea:focus {
    border-color: #222;
    background-color: #dbdbdb;
}
.formRow input[type="file"] {
    padding: 7px;
}
.formRow label {
    font-size: 14px;
    margin-bottom: 2px;
    cursor: pointer;
}
.formRow>label {
    /*width: 100%;*/
    display: inline-block;
}
.twoCol>div {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-top: 5px;
}
.twoCol>div:last-of-type {
    margin-right: 0;
}
.keepMeSigned div {
    display: inline-block;
}
.keepMeSigned label {
    color: #f7931e;
}
.standartBtn {
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    min-width: 20px;
    min-height: 20px;
}
.borderBtn {
    outline: 0;
    min-width: 20px;
    min-height: 20px;
    padding: 5px 10px;
    border: 2px solid;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.borderBtn:hover {
    box-shadow: 0px 0px 0px #fff;
}
.fullWidthBtn {
    outline: 0;
    display: block;
    text-align: center;
    min-width: 20px;
    min-height: 30px;
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
}
.orangeFullWidthBtn {
    border: 2px solid #f7931e;
    background-color: #f7931e;
    color: #fff;
}
.orangeFullWidthBtn:hover {
    background-color: #fff;
    color: #f7931e;
}
.orangeBorderBtn {
    box-shadow: inset 0px 0px 8px #f1e767;
    border-color: #f7931e;
    color: #f7931e;
}
.blackBorderBtn {
    box-shadow: inset 0px 0px 8px #909090;
    border-color: #222;
    color: #222;
}
.orangeBtn {
    background-color: #f7931e;
    color: #fff;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.orangeBtn:hover {
    background-color: #fff;
    color: #f7931e;
    text-decoration: underline;
}
.blackBtn {
    background-color: #222;
    color: #fff;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.blackBtn:hover {
    background-color: #fff;
    color: #222;
    text-decoration: underline;
}
.grayBtn {
    background-color: #dbdbdb;
    color: #222;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.grayBtn:hover {
    color: #222;
    background-color: #fff;
    text-decoration: underline;
}
.facebookBtn {
    background-color: #3a5795;
    color: #fff;
}
.facebookBorderBtn {
    box-shadow: inset 0px 0px 3px #7589B5;
    border-color: #3a5795;
    color: #3a5795;
    padding: 7px 10px 8px 10px;
}
.bold {
    font-weight: bold;
}
.orangeText {
    color: #f7931e;
}
.notifWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.8;
    z-index: 10002;
    cursor: pointer;
}
.notifMain {
    cursor: pointer;
    position: fixed;    
    z-index: 10003;
    top: 40%;
    left:35%;
    background: #fff;
    /*padding: 15px;*/
    width: 30%;
    min-width: 320px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}
.notifMain p {
    cursor: pointer;
    padding: 20px;
    background-color: #fff;
    color: #f7931e;
    font-size: 16px;
}
.notifTitle {
    font-size: 20px;
    cursor: pointer;
    z-index: 10003;
    padding: 20px;
    background: #f7931e;
    box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.1);
    color: #fff;
}
.noteInfo {
    padding: 5px 50px;
    margin: 0 auto;
    width: 80%;
    display: block;
    font-size: 20px;
    background-color: #f1e767;
    color: #fff;
}
.noteWarning {
    padding: 5px 50px;
    margin: 0 auto;
    width: 80%;
    display: block;
    font-size: 20px;
    background-color: #DB4437;
    color: #fff;
}
.noInfSt {
    text-align: center;
    padding: 12px 26px;
    font-size: 26px;
    color: #dbdbdb;
}
/* end of basic css */

/* magnific popup css */
.mgnPopup {
    margin: 0 auto;
    background: #fff;
    /*padding: 15px;*/
    width: 800px;
    position: relative;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}
.mgnSmallPopup {
    width: 360px;
}
.popupCont {
    padding: 20px;
}
.popupCont .customScroll {
    max-height: 450px;
}
.popupTitleWrap {
    padding: 20px;
    background: #f7931e;
    box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.1);
}
.popupTitle {
    color: #fff;
}
.mfp-close-btn-in .mfp-close {
    color: #fff;
}
.mfp-close {
    width: 51px;
    height: 51px;
}
/* end of magnific popup css */


/* pagination styles*/
.pagination {
    padding-top: 15px;
    border-top: solid 1px #dbdbdb;
    margin-bottom: 20px;
}
.pagination:after {
    content: '';
    clear: both;
    display: block;
}
.pagination li {
    float: left;
    border: solid 1px #222;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    margin-right: 5px;
    line-height: 22px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}
.pagination li:hover,
.pagination li.active {
border-color: #f7931e;
color: #f7931e;
}
.pagination li.disabled:hover {
    border-color: #fff;
    cursor: default;
}
.pagination li span,
.pagination li a {
    display: block;
}
.pagination li.prev,
.pagination li.next {
    line-height: 21px;
}
/* end pagination styles*/

/* custom scroll */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #989898;
    width: 8px;
    right: 1px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.15);
}
.mCSB_scrollTools {
    width: 6px;
    right: 5px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 10px;
}
.mCSB_outside + .mCSB_scrollTools {
    /*right: -12px;   */
    right: 4px;
    margin: 8px 0;
}
/* end custom scroll */

/* main css */

.mainWrapper {
    min-width: 1250px;
    min-height: 500px;
    width: 100%;
    background-color: #f5f5f5;    
}
.rightBarFb {
    border: solid 2px rgb(228, 228, 228);
    border-left: none;
    border-bottom: none;
    top: 150px;
    position: fixed;
    z-index: 400;
    width: 40px;
    height: 150px;
    background-color: #4A66A0;
    color: #fff;
    opacity: 0.5;
    background-image: url('../images/facebook.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.rightBarLb {
    border: solid 2px rgb(228, 228, 228);
    border-left: none;
    border-top: none;
    top: 300px;
    left: 0px;
    position: fixed;
    z-index: 400;
    width: 40px;
    height: 150px;
    background-color: #f7931e;
    color: #fff;
    opacity: 0.5;
    background-image: url('../images/leaders.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.rightBarLb:hover, .rightBarFb:hover {
    opacity: 0.9;
    cursor: pointer;
}
header {
    width: 100%;
    min-width: 1300px;
    height: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    position: fixed;
    z-index:1000;
    border: solid 1px rgb(228, 228, 228);
}
.container {
    width: 100%;
    padding-top: 80px;
    margin: 0 auto;
}
.box {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.shareBox {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 250px;
    margin: 10px 10%;
    margin-bottom: 20px;   
}
.logoSection {
    margin-left: 10%;
    height: 100%;
    float: left;
}
.logoLink {
    color: #f7931e;
    font-size: 30px;
    font-family: TopModern;
    text-shadow: 2px 2px 2px #f1e767;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    line-height: 2em;
}
.logoLink:hover {
    color: #222;
    text-shadow: 2px 2px 2px #d5d5d5;
}
.langIcon {
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 20px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    border: 2px solid #f7931e;
}
.armenian {
    background-image: url('../images/flags/48/Armenia.png');
}
.russian {
    background-image: url('../images/flags/48/Russian Federation.png');
}
.english {
    background-image: url('../images/flags/48/United States of America(USA).png');
}
.navSection {
    float: right;
    margin-right: 5%!important;
    margin-left: 5%!important;
    width: 57%!important;
    height: 100%;
}
.headerMenu {
    width: 100%;
    height: 100%;
}
.headerMenu li {
    display: inline-block;
    margin-left: 10px;
    height: 100%;
}
.headerMenu li a {
    display: inline-block;    
    position: relative;
    padding-top: 20px;
    height: 100%;
    color: #222;
    text-shadow: 2px 2px 2px #d5d5d5;
    font-family: TopModern;
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
}
.headerMenu li a:hover {
    color: #f7931e;
    text-shadow: 2px 2px 2px #f1e767;
    border-bottom: 2px solid #f7931e;
}
.headerMenu li.invertMenu a {
    color: #f7931e;
    text-shadow: 2px 2px 2px #f1e767;    
}
.headerMenu li.invertMenu a:hover {
    color: #222;
    text-shadow: 2px 2px 2px #d5d5d5;
    border-bottom: 2px solid #222;
}
.headerMenu li.userImage {
    display: inline-block;
    position: relative;
    margin: -18px 0px 0px 10px !important;
}
.headerMenu li.userImage a img {
    width: 32px;
    position: relative;
    top: 9px;
}
.headerMenu li.userImage a:hover {
    border-bottom: none;   
}
.mainSearchBox {
    padding-top: 60px;
}
#mainSearchBoxItem {
    border-radius: 3px;
    outline: 0;
    border: 0;
    display: block;
    width: 600px;
    height: 40px;
    font-size: 18px;
    padding-left: 25px;
    line-height: 2em;
    margin: 0 auto;
}
footer {
    width: 100%;
    height: 250px;
    text-align: center;
}
footer .image {
    width: 100%;
    height: 150px;
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../images/footerBack.png');
}
footer .section {
    padding-top: 10px;
    width: 100%;
    height: 150px;
    background-color: #222;
}
footer .section ul li {
    display: inline-block;
    margin-left: 10%;
}
footer .section ul li:first-child {
    margin-left: 0;
}
footer .section ul li ul li {
    display: block;
}
footer .heading {
    font-family: TopModern;
    font-size: 22px;
    font-weight: bold;
    color: #f7931e;
    text-shadow: 1px 0px 0px #f1e767;
    cursor: default;
}
footer .section ul li ul li a {
    font-size: 14px;
    font-family: TopModern;
    color: #fff;
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
}
footer .section ul li ul li a:hover {
    color: #f7931e;
}
.footerInfo {
    color: #fff;
    font-size: 14px;
}
.clear {
    clear: both;
}
.mainPageTitle {
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: 30px;
    color: #fff;
    cursor: default;
}
.orangePageTitle {
    color: #f7931e;
}
.blackPageTitle {
    color: #222;
}
.backBtn {
    display: inline-block;
    font-size: 14px;
    background-color: #f1e767;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}
.mainQuiz {
    width: 98%;
    height: 220px;
    margin: 1% auto;
    background-color: #ff5454;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.mainDisc, .mainGamesBox {
    width: 98%;
    margin: 1% auto;
    height: 230px;
    background-color: #f7931e;
    color: #fff;
    font-family: TopModern;
    cursor: pointer;
    text-align: center;
    border: solid 1px rgb(228, 228, 228);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.mainBlog, .mainLeaders {
    width: 98%;
    margin: 1% auto;
    height: 230px;
    background-color: #f1e767;
    color: #fff;
    font-family: TopModern;
    cursor: pointer;
    text-align: center;
    border: solid 1px rgb(228, 228, 228);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.mainQuiz:hover, .mainCross:hover, .mainSudoku:hover, .mainFb:hover, .mainDisc:hover, .mainBlog:hover, .mainGamesBox:hover, .mainLeaders:hover {
    opacity: 0.7
}
.mainQuiz h1, .mainCross h1, .mainSudoku h1 {
    padding-top: 50px;
    width: 100%;
    font-size: 60px;
    font-family: TopModern;
}
.mainQuiz p, .mainCross p, .mainSudoku p {
    font-size: 20px;
}
.mainGames {
    margin-left: 1%;
    width: 98%;
    text-align: center;
}
.mainGames li {
    display: inline-block;
    width: 49.5%;
    margin: 0;    
    border: 0;
}
.mainGames .mainCross {
    height: 220px;
    background-color: #f7931e;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.mainGames .mainSudoku {    
    height: 220px;
    background-color: #4D94FF;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.mainCity {
    width: 98%;
    margin: 1% auto;
    height: 230px;
    background-color: #222;
    color: #fff;
    font-family: TopModern;
    cursor: pointer;
    text-align: center;
    border: solid 1px rgb(228, 228, 228);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.mainFb {
    width: 98%;
    margin: 1% auto;
    height: 230px;
    background-color: #4A66A0;
    color: #fff;
    font-family: TopModern;
    cursor: pointer;
    text-align: center;
    border: solid 1px rgb(228, 228, 228);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.mainFb h1, .mainDisc h1, .mainBlog h1, .mainGamesBox h1, .mainLeaders h1, .mainCity h1 {
    padding-top: 60px;
    font-size: 60px;
}
.mainFb p, .mainDisc p, .mainBlog p, .mainGamesBox p, .mainLeaders p, .mainCity p {
    font-size: 24px;
}    
.contactCover {
    background: url('../images/crosswordFb.png') center;
    background-size: cover;
    height: 280px; 
}
.contactInfo {
    padding-top: 10px;
    min-width: 300px;
    width: 30%;
    float: left;
    font-weight: bold;
    font-size: 22px;
    color: #222;
}
.contactInfo .location {
    background: url('../images/contact-icons/location-icon.jpg');
    background-size: 80px;
    background-position: left;
    background-repeat: no-repeat;
}
.contactInfo .mobile {
    background: url('../images/contact-icons/mobile-icon.png');
    background-size: 80px;
    background-position: left;
    background-repeat: no-repeat;
}
.contactInfo .email {
    background: url('../images/contact-icons/email-icon.jpg');
    background-size: 80px;
    background-position: left;
    background-repeat: no-repeat;
}
.contactItem {
    display: block;
    padding-left: 90px;
    height: 110px;
    border-bottom: 2px solid #222;
    line-height: 5em;
    font-family: TopModern;
}
.contactItem:first-of-type {
    margin-top: 20px;
}
.contactItem:last-of-type {
    border:none;
}
.contactForm {    
    padding-top: 10px;
    min-width: 600px;
    margin-left: 20px;
    width: 60%;
    float: left;
}
.aboutSignUp {
    color: #f7931e;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.aboutSignUpText {
    color: #222;
    display: none;    
    font-size: 14px;
    padding-bottom: 20px;
}
#signupform-sex .radio, #editprofileform-sex  .radio {
    float: left;
    margin-left: 10px;
}
#signupform-sex .radio:first-of-type, #editprofileform-sex .radio:first-of-type {
    margin-left: 50px;
}
.submitSect {
    margin-top: 20px;
    float: left;
}
.alreadyMember {
    float: left;
    margin-left: 50px;
    margin-top: 27px;
    color: #dbdbdb;
}
.alreadyMember a {
    margin-left: 40px;
}
.aboutHeading {
    color: #f7931e;
    font-size: 19px;
    padding-left: 50px;
    line-height: 2em;
    height: 40px;
    background-position: 0px center;
    background-repeat: no-repeat;
    background-image: url('../images/exclamation-icon.png');
    background-size: 40px;
}
.aboutText {
    color: rgb(161, 160, 161);
    padding: 20px 10px 20px 10px;
}
.privacyHeading {
    color: #f7931e;
    font-size: 19px;
    padding-left: 50px;
    line-height: 2em;
    height: 40px;
    background-position: 0px center;
    background-repeat: no-repeat;
    background-image: url('../images/check-icon.png');
    background-size: 40px;
}
.privacyText {
    color: rgb(161, 160, 161);
    padding: 20px 10px 20px 10px;
}
.howToHeading {
    color: #f7931e;
    font-size: 19px;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2em;
    height: 40px;
    background-position: 0px center;
    background-repeat: no-repeat;
    background-image: url('../images/help-icon.png');
    background-size: 40px;
    cursor: pointer;
}
.howToText {
    color: rgb(161, 160, 161);
    padding: 20px 10px 20px 10px;
}
.faqHeading {
    color: #f7931e;
    font-size: 19px;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2em;
    height: 40px;
    background-position: 0px center;
    background-repeat: no-repeat;
    background-image: url('../images/question-icon.png');
    background-size: 40px;
    cursor: pointer;
}
.faqText {
    display: none;
    color: rgb(161, 160, 161);
    padding: 20px 10px 20px 10px;
}
.listNames {
    margin-top: 10px;
    margin-bottom: 10px;
}
.listNames li {
    display: inline-block;
    line-height: 3em;
    margin-left: 1%;
    font-size: 22px;
}
.leaderboardList {
    width: 100%;
    font-size: 22px;
    font-family: TopModern;
}
.leaderboardList .singleLeader {
    cursor: pointer;
    display: block;
    margin-top: 10px;
    border: solid 2px rgb(228, 228, 228);
    box-shadow: 0px 1px 2px #dbdbdb;
    background: #fff;
    padding-left: 10px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.leaderboardList .singleLeader:hover {
    border: solid 2px #222;
    box-shadow: none;
    background: rgb(228, 228, 228);
    color: #222;
}
.leaderboardList .singleLeader:nth-child(2n) {
    color: #f7931e;
}
.leaderboardCustomScroll {
    width: 100%;
    max-height: 500px;
    padding: 4px 6px;
}
.singleLeaderMe {
    border: solid 2px #222!important;
    box-shadow: 0px 1px 2px #222!important;
    background: #f7931e!important;
    color: #fff!important;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.singleLeaderMe:hover {
    border: solid 2px #222!important;
    box-shadow: none!important;
    background: rgb(228, 228, 228)!important;
    color: #222!important;
}
.singleLeader ul li {
    display: inline-block;
    line-height: 3em;
    margin-left: 3%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.singleLeader ul li img {
    position: relative;
    top:10px;
    width: 32px;
}
.toMeButton {
    outline: 0;
    display: block;
    margin: 10px auto;
    text-align: center;
    min-width: 20px;
    min-height: 30px;
    cursor: pointer;
    width: 50%;
    padding: 10px 20px;
    border: 4px solid #f7931e;
    background-color: #f7931e;
    color: #fff;
    font-size: 22px;
     transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.toMeButton:hover {
    background-color: #fff;
    color: #f7931e;
}
.boxCrosswordList {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.crosswordsList {
    width: 100%;
}
.crosswordRow {  
    width: 950px;
    margin: 0 auto;
}
.crosswordRow ul li {
    margin-left: 40px;
    display: inline-block;
}
.crosswordRow ul li:first-child {
    margin-left: 0;    
}
.crosswordItem a img {
    display: none;
}
.crosswordItem a .imageDiv {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 2px solid #dbdbdb;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.crosswordItem a .imageDiv:hover {
    opacity: 0.6;
}
.crosswordTitle {    
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 200px;
    height: 28px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    color: #f7931e;
    text-shadow: 2px 2px 2px #f1e767;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.crosswordTitle:hover {
    color: #222;
    text-shadow: 2px 2px 2px #dbdbdb;
}
.crosswordType {
    width: 150px;
    float: left;
    height: 35px;
}
.crosswordTypeSpan {
    display: inline-block;
    height: 20px;
    width: 15px;
    opacity: 0.7;
}
.green {
    background-color: #3c763d;
}
.blue {
    background-color: #31708f;
}
.orange {
    background-color: #8a6d3b;
}
.red {
    background-color: #a94442;
}
.crosswordLang {
    float: right;
    width: 40px;
}
.crosswordLang img {
    position: relative;
    top: -5px;
    left: 45px;
}
.playButtonLink {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
}
.playButton {
    border: 2px solid #f7931e;
    color: #f7931e;
     transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.playButton:hover {
    background-color: #f7931e;
    color: #fff;
}
.continueButton {
    border: 2px solid #66FF66;
    color: #66FF66;
     transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.continueButton:hover {
    background-color: #66FF66;
    color: #fff;
}
.viewButton {
    border: 2px solid #4775FF;
    color: #4775FF;
     transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.viewButton:hover {
    background-color: #4775FF;
    color: #fff;
}
.filterBox li {
    display: inline-block;
    color: #f7931e;
    font-size: 20px;
}
.filterBox li .searchBtn {
    padding: 5px 10px 5px 10px;
    background-color: #f7931e;
    color: #fff;
    border: none;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
}
.boxQuiz {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 80%;
    margin: 0 auto;
}
.boxQuizList {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 1000px;
    margin: 20px auto;
}
.quizList {
    width: 100%;
    margin-bottom: 20px;
}
.quizRow {  
    width: 950px;
}
.quizRow ul li {
    margin-top: 20px;
    margin-left: 40px;    
    display: inline-block;
}
.quizRow ul li:first-child {
    margin-left: 70px;
}
.quizItem a img {
    display: none;
}
.quizItem a .imageDiv {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ff5454;
    border-radius: 20px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.quizItem a .imageDiv:hover {
    opacity: 0.6;
}
.quizTitle {    
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 100px;
    height: 28px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    color: #ff5454;
    text-shadow: 2px 2px 2px #FF7676;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.quizTitle:hover {
    color: #222;
    text-shadow: 2px 2px 2px #FF7676;
}
.quizPlayButtonLink {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1em;
    padding: 2px 4px 4px 4px;
    margin-bottom: 5px;
    cursor: pointer;
}
.quizPlayButton {
    border: 2px solid #ff5454;
    color: #ff5454;
     transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.quizPlayButton:hover {
    background-color: #ff5454;
    color: #fff;
}
.boxUserTabs {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}  
.boxUserTabs ul li {
    display: inline-block;
    margin-left: 30px;
}
.boxUserTabs ul li a {
    padding: 5px 10px 5px 10px;
    border: 2px solid #f7931e;
    background-color: #fff;
    color: #f7931e;  
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.boxUserTabs ul li a:hover {
    border: 2px solid #f7931e;
    background-color: #f7931e;
    color: #fff; 
}
.boxUserTabs ul li a.active {
    border: 2px solid #f7931e;
    background-color: #f7931e;
    color: #fff; 
}
.error404Title {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    text-align: center;
    color: #f7931e;
    font-weight: bold;
    font-size: 62px;
}
.error404Message {
    display: block;
    width: 60%;
    margin: 10px auto;
    color: #222;
    font-weight: bold;
    font-size: 22px;
    line-height: 3em;
    text-align: center;
    margin-bottom: 50px;
}
.error404Popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10000;
    /*background-color: #222;*/
    display: none;
    background: url('../images/404image.png') -1500px -1500px;
    background-repeat: no-repeat;
}
.boxContactProblem {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.boxContactProblem ul li {
}
.boxContactProblem ul li {
    display: inline-block;
    margin-left: 10px;
}
.boxContactProblem ul li:first-of-type {    
    margin-left: 0;
}
.boxContactProblem ul li a {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.boxContactProblem ul li a.problem {
    padding: 5px 10px 5px 10px;
    color: #a94442;
    height: 30px;
    font-size: 18px;
    border: 2px solid #a94442;
    box-shadow: inset 0px 0px 8px #FF5930;
}
.boxContactProblem ul li a.problem:hover {
    background-color: #a94442;
    color: #fff;
    box-shadow: none;
}
.boxContactProblem ul li a.contact {
    padding: 5px 10px 5px 10px;
    color: #4775FF;
    height: 30px;
    font-size: 18px;
    border: 2px solid #4775FF;
    box-shadow: inset 0px 0px 8px #85A3FF;
}
.boxContactProblem ul li a.contact:hover {
    background-color: #4775FF;
    color: #fff;
    box-shadow: none;
}
.boxContactProblem ul li a.crossword {
    padding: 5px 10px 5px 10px;
    color: #f7931e;
    height: 30px;
    font-size: 18px;
    border: 2px solid #f7931e;
    box-shadow: inset 0px 0px 8px #f1e767;
}
.boxContactProblem ul li a.crossword:hover {
    background-color: #f7931e;
    color: #fff;
    box-shadow: none;
}
.commingSoon {
    display: block;
    margin: 50px auto;
    text-align: center;
    font-family: TopModern;
    font-size: 60px;
    color: #f7931e;
}
.myPage {
    /*margin-left: 100px;
    margin-right: 100px*/;
    width: 100%;
    text-align: center;
}
.myPage li {
    display: inline-block;  
    height: 64px;  
}
.myPage li img {
    position: relative;
    top: 20px;
}
.myPage li.username {
    color: #f7931e;
    font-size: 25px;
    font-family: TopModern;
    text-shadow: 2px 2px 2px #f1e767;
    margin-left: 20px;
}
.myPage li.points {
    color: #222;
    font-size: 25px;
    font-family: TopModern;
    text-shadow: 2px 2px 2px #909090;
    margin-left: 200px;
}
.myPage2 {
    width: 100%;
    padding: 20px;
}
.myPage2 {
    text-align: center;
}
.myPage2 li.pluses, .myPage2 li.medals {
    display: inline-block;
}
.myPage2 li.pluses {
    width: 300px;
}
.myPage2 li.pluses ul {
    max-height: 200px;
    width: 100%;
}
.plusesHeading {
    font-size: 22px;
    color: #DB4437;
    font-family: TopModern;
}
.plusesHeading button {
    outline: 0;
    cursor: default;
    border: 2px solid #DB4437;    
    background-color: #DB4437;
    color: #fff;
    padding: 10px;
}
.myPage2 li.medals {
    margin-left: 100px;
}
.myPage2 .plusSection li {
    color: #DB4437;
    font-family: TopModern;
    display: inline-block;
    height: 40px;
}
.plusSection li:nth-child(2) {
    margin-left: 2px;
    width: 100px;
    position: relative;
    top: 27px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}   
.plusSection li:nth-child(3) {
    font-size: 12px;
    color: #dbdbdb;
    width: 120px;
}   
.myPage2 .plusSection li img {
    position: relative;
    top: 10px;
    width: 30px;
}
.myPage2 .medalsHeading {
    font-size: 22px;
    color: #f1e767;
    font-family: TopModern;   
}
.plusActiveBtn {
    cursor: pointer!important;
}
.plusActiveBtn:hover {
    background-color: #fff;
    color: #DB4437;
    border-color: #DB4437;
}
.gamesList {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 50px;
}
.gamesList>li {
    margin-top: 50px;
}
.gamesList>li:first-child {
    margin-top: 0;   
}
.gamesHeading {
    font-family: TopModern;
    font-size: 22px;
}
.gamesList .crossHead  {
    color: #f7931e;
}
.gamesList .sudoHead  {
    color: #4D94FF!important;
}
.gamesList .quizHead  {
    color: #ff5454;
}
.gameList li {
    display: inline-block;
}
.gameList li:last-child {
    margin-left: 20px;
    max-width: 500px;
}
.gameList img {
    position: relative;
    top: 20px;
    width: 200px;
    height: 200px;
}
.gameList p {
    color: #999999;
    font-size: 14px;
    padding: 10px;
    display: block;
    width: 100%;
    height: 100px;
}
.gameList .randomBtn {
    border: 2px solid #222;
    border-left: none;
    background-color: #222;
    color: #fff;
    transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}
.gameList .randomBtn:hover {
    background-color: #fff;
    color: #222;   
}
.gameList .crossBtn {
    border: 2px solid #f7931e;
    border-right: none;
    background-color: #f7931e;
    color: #fff;
    transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}
.gameList .crossBtn:hover {
    background-color: #fff;
    color: #f7931e;   
}
.gameList .sudoBtn {
    border: 2px solid #4D94FF;
    border-right: none;
    background-color: #4D94FF;
    color: #fff;
    transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}
.gameList .sudoBtn:hover {
    background-color: #fff;
    color: #4D94FF;   
}
.gameList .quizBtn {
    border: 2px solid #ff5454;
    border-right: none;
    background-color: #ff5454;
    color: #fff;
    transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}
.gameList .quizBtn:hover {
    background-color: #fff;
    color: #ff5454;   
}
.myCrosswordsList {
    font-size: 22px;
    font-family: TopModern;
    width: 100%;
    max-height: 500px;
    padding: 4px 6px;
}

.myCrosswordsList .singleCrossword {
    cursor: default;
    display: block;
    border: solid 2px rgb(228, 228, 228);
    box-shadow: 0px 1px 2px #dbdbdb;
    background: #fff;
    padding-left: 10px;
    color: #f7931e;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.myCrosswordsList .singleCrossword:hover {
    border: solid 2px #222;
    box-shadow: none;
    background: rgb(228, 228, 228);
    color: #222;
}
.singleCrossword ul li {
    display: inline-block;
    line-height: 4em;
    margin-left: 1%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.singleCrossword ul li img {
    position: relative;
    cursor: pointer;
    top:25px;
    width: 80px;
}
.singleCrossword ul li button {
    outline: 0;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
}
.crosswordViewBtn {
    background-color: #f1e767;
    color: #fff;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.crosswordContinueBtn {
    background-color: #f7931e;
    color: #fff;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.crosswordViewBtn:hover, .crosswordContinueBtn:hover {
    background-color: rgb(228, 228, 228);
    color: #222;
}
.completed {
    color: green!important;
}
.blogList {
    width: 80%;
    margin: 100px auto;
}
.blogList li {
    cursor: pointer;
    margin-bottom: 100px;
    border: 0px solid #f1e767;
    border-left: none;
    border-top: none;
    transition: all 0.2s;
}
.blogList li:hover {
    border-width: 4px;
}
.blogList li .blogImageDiv {
    border: 2px solid #dbdbdb;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.blogList li div:last-of-type {
    display: inline-block;
    height: 200px;
    width: 560px;
}
.blogList li h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    font-size: 22px;
    margin-left: 20px;
    color: #f7931e;
}
.blogList li h1:hover, .blogList li p:hover, .blogList li span:hover, .blogList li .blogImageDiv:hover {
    opacity: 0.7;
}
.blogList li p {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #222;
    margin-left: 20px;
    height: 155px;
}
.blogList li span {
    color: #f1e767;    
    display: inline-block;
    width: 100%;
    height: 15px;
    text-align: right;
}
.userGames {
    width: 90%;
    margin: 30px auto;    
    padding-top: 10px;
}
.userGames li {
    display: inline-block;
    width: 46%;
    height: 150px;
}
.userGames li:nth-child(2n) {
    margin-left: 6%;
}
.userGames li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #fff;
    font-size:   32px;
    text-align: center; 
    line-height: 4.5em;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}   
.userGames li a:hover {
    opacity: 0.5;
}
.singleNotification {
    cursor: pointer;
    padding: 20px;
}
.singleNotification:hover {
    background-color: #E2E5EE;
}
.myNotifications .unread {
    background-color: #E2E5EE;
}
/* end of main css */

/* popups */

.loginButtons {
    text-align: center;
    min-height: 20px;
    padding-bottom: 5px;
}
.whoSolvedListScrollableDiv {
    width: 90%;
    margin: 0 auto;
}
#whoSolvedListScrollable .count {
    font-size: 28px;
    color: #f7931e;
}
#whoSolvedListScrollable {
    display: block;
    width: 100%;
}
#whoSolvedListScrollable .singleSolver li {
    color: #f1e767;
    font-family: TopModern;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    font-size: 20px;
    border-bottom: 2px solid #dbdbdb;
}
#whoSolvedListScrollable .singleSolver li img { 
    position: relative;
    top: 5px;
    width: 30px;
}
.solverUsername {
    cursor: pointer;
}
.infoWindow {
    padding: 20px;
}
.infoWindow .userName{
    color: #f7931e;
    font-size: 20px;
}