.boxPost {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.mainContent {
	width: 100%;
	margin-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	margin-bottom: 30px;
	color: #222;
}
.mainContent a.link {
	display: block;
	margin: 30px auto;
	width: 200px;
	text-align: center;
	border-radius: 20px;
	padding: 15px 5px 15px 5px;
	background-color: #F7931E;
	color: #fff;
	font-size: 22px;
}

.mainContent button.toggle {
	display: block;
	margin: 30px auto;
	width: 200px;
	outline: 0;
	border: 0;
	cursor: pointer;
	text-align: center;
	border-radius: 20px;
	padding: 15px 5px 15px 5px;
	background-color: #F7931E;
	color: #fff;
	font-size: 22px;
}
.scrollToComments {
	display: inline-block;
	margin-top: 30px;
	width: 200px;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	padding: 5px;
	background-color: #F1E767;
	border-radius: 10px;
	text-align: center;	
}
.postDate {
	display: inline-block;
	text-align: center;
	margin-top: 30px;
	width: 200px;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	padding: 5px;
	background-color: #ED1D11;
	border-radius: 10px;	
}
.mainContent img {
	display: block;
	max-width: 600px;
	margin: 30px auto;
	margin-bottom: 30px;
	cursor: pointer;
}
.mainContent iframe {	
	margin: 30px auto;
	margin-bottom: 30px;
}
.bottomShareBox {
	margin-top: 30px;
	margin-bottom: 30px;
}
.postTitle {
	font-size: 34px;
	color: #F1E767;
}
.postMainImg {
	width: 600px;
	height: 315px;
	margin: 50px auto;
}
.keywords span {
	background-color: #222;
	border-radius: 15px;
	padding: 5px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	font-family: TopModern;
}
.boxComments {
	border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 800px;
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}	
.boxComments .commentsCount {
	color: #F7931E;
	font-size: 26px;
	font-weight: bold;
}
.boxComments #commentsCount {
	font-family: TopModern;
}
.postComments {
	width: 700px;
	max-height: 200px;
	margin: 0 auto;
	padding: 10px;
	padding-right: 20px;
}
.postComments .commentRow {
	display: block;
	margin-top: 20px;
	max-height: 100px;
}
.commentContainer {
	height: 100%;
}
.commentContainer .commentText {
	border-radius: 10px;
	display: block;
	font-size: 15px;
	color: #222;
	padding: 10px 5px 5px 10px;
	background-color: #F5F5F5;
}
.commentDate {
	text-align: right;
	font-size: 13px;
	color: #dbdbdb;
}
.deleteButton {
	display: inline;
	color: #FF1919;
	cursor: pointer;
	font-size: 20px;
	outline: 0;
	background: none;
	border: none;	
	font-family: TopModern;
}
.deleteButton:hover {
	font-weight: bold;
}
.boxComments textarea {
	border-radius: 10px;
	border-color: #F7931E;
}
.commenter {
	color: #F7931E;
	cursor: pointer;
}
.suggestions {
	border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: white;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;	
    text-align: center;
}
.suggestion {
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
.suggestion:hover {
	opacity: 0.7;
}
.suggestion:first {
	margin-left: 0px;	
}
.suggestion h1 {
	width: 150px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    color: #F6C11E;
	display: block;
}
.suggestion .suggestionDate {
	width: 150px;
	display: block;	
	color: #dbdbdb;
	font-size: 12px;
	font-weight: bold;
}
.suggestion img {
	width: 150px;
}