.boxQuizPlay {
    border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: #ff5454;
    width: 80%;
    margin: 20px auto;
    height: 500px;
}
.boxQuizPlayInfo {
	border: solid 1px rgb(228, 228, 228);
    padding: 15px;
    background: #fff;
    width: 80%;
    margin: 20px auto;
    height: 100px;
}
ul.quizInfo {
	width: 100%;
}
ul.quizInfo li {
	display: inline-block;
	margin-left: 20px;
}
ul.quizInfo li img {
	position: relative;
	width: 50px;
	top: 15px;
}
.commentsBtnInfo {
	position: relative;
	top: -5px;
	width: 25%;	
	background-color: #f1e767;
	font-size: 16px;
	color: #fff;
	border-radius: 15px;
	padding: 5px 5px 5px 5px;
	font-family: TopModern;
	text-align: center;
}
.quizCategory {
	text-align: center;
	font-size: 32px;
	font-family: TopModern;
	color: #ff5454;
}
.startQuiz {
	display: block;
	cursor: pointer;
	width: 300px;
	margin: 50px auto;
	height: 150px;
	background-color: #fff;
	color: #ff5454;
	font-size: 40px;
	outline: 0; 
	border: 2px solid #ff5454;
	border-radius: 50px;
	 transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.startQuiz:hover {
	background-color: #ff5454;
	color: #fff;
}
.quizGamePlay {
	display: none;
	width: 70%;
	margin: 0px auto;
	padding-top: 0;
	padding-bottom: 30px;
	text-align: center;
}
.quizGamePlay h1 {
	margin: 0 auto;
	max-width: 500px;
	color: #fff;
	font-family: TopModern;
	font-size: 32px;
}
.quizGamePlay li {
	display: inline-block;
}
.quizGamePlay .first {
	list-style: none;
	margin-top: 50px;
}
.quizGamePlay .second {
	list-style: none;
	margin-top: 20px;
}
.quizGamePlay li {
	margin-left: 20px;
}
.quizGamePlay li button {
	width: 200px;
	outline: 0;
	border: none;
	padding: 20px 10px 20px 10px;
	font-size: 20px;
	border-radius: 20px;
	font-family: TopModern;
	background-color: #fff;
	color: #ff5454;
	cursor: pointer;
}
#quizTime {
	position: relative;
	top: 50px;
	left: 50px;
	width: 100px;
	height: 100px;
	color: #fff;
	font-family: TopModern;
	font-size: 50px;
	border: 5px solid #fff;
	border-radius: 100px;
	text-align: center;
	line-height: 1.9em;
}
.correct {
	color: #fff!important;
	background-color: #6699FF!important;
}
.incorrect {
	color: #fff!important;
	background-color: #f7931e!important;
}
